body {
    background-color: #0A1117;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: lato;
    src: url(../RealWebsite/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../RealWebsite/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserratmiss;
    src: url(../RealWebsite/fonts/Montserrat-MediumItalic.ttf);

}

@font-face {
    font-family: montserratmiduim;
    src: url(../RealWebsite/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserratbold;
    src: url(../RealWebsite/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserratsemibold;
    src: url(../RealWebsite/fonts/Montserrat-SemiBold.ttf);
}



.containerheader {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: 90px;
    gap: 5px;

}


.text {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-shadow: 0 0 10px #FFFFFF;
}


.text1 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    color: #FFB4D3;
    display: inline-block;
    white-space: nowrap;
    text-shadow: 0 0 10px #FFB4D3;
}



.container1 {
    color: inherit ;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Montserrat;
    font-size: 20px;
    gap: 50px;
    color: #FFFFFF;
    margin-top: -45px;
}

.header {
    position: sticky;
    top: 0px;
    background-color: #0A1117;
}

.login {
    font-family: montserrat;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 10px;
    width: 55px;
    padding: 10px;
    background-color: #243241;
    margin-left: 1075px;
    margin-top: -25px;
    box-shadow: 0 0 5px #FFFFFF;
    cursor: pointer;
}

.text6,
.text4,
.text2,
.text3 {
    transition: font-weight 0.3s ease;
    font-weight: 400;
}

.text6:hover,
.text4:hover,
.text2:hover,
.text3:hover {
    font-weight: 700;
    cursor: pointer;
}

.container2 {
    display: flex;
    justify-content: center;
}

.text7 {
    font-family: lato;
    font-size: 72px;
    color: #FFFFFF;
    margin-top: 50px;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    font-weight: 10px;
}

.text8 {
    font-size: 26px;
    font-family: montserratmiduim;
    color: #FFFFFF;
}

.text9 {
    font-size: 26px;
    font-family: montserratmiduim;
    color: #FFFFFF;
}

.get-started {
    font-size: 20px;
    font-family: montserratbold;
    color: #10151A;
    border-radius: 15px;
    background-color: #CEAAFF;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 0 15px #f1d180;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0, 3px ease;
}

.get-started:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;

}

.pijltje {
    margin-top: 150px;

}

.sterren1 {
    position: absolute;
    margin-top: 320px;
    margin-right: 870px;
}

.title1 {
    color: #FFFFFF;
    font-family: lato;
    font-size: 45px;
    margin-top: 55px;
}

.container4 {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    gap: 15px
}

.tag-1 {
    color: #FFB4D3;
    font-size: 15pt;
    font-family: montserratsemibold;
    border-radius: 50px;
    padding: 12px;
    background-color: #2A3744;
    cursor: pointer;
}

.tag-2 {
    color: #FFC24C;
    font-size: 15pt;
    font-family: montserratsemibold;
    border-radius: 50px;
    padding: 12px;
    background-color: #2A3744;
    cursor: pointer;
}

.tag-3 {
    color: #77E6FF;
    font-size: 15pt;
    font-family: montserratsemibold;
    border-radius: 50px;
    padding: 12px;
    background-color: #2A3744;
    cursor: pointer;
}

.tag-4 {
    color: #D387F7;
    font-size: 15pt;
    font-family: montserratsemibold;
    border-radius: 50px;
    padding: 12px;
    background-color: #2A3744;
    cursor: pointer;
}

.container5 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 15px
}

.tag-5 {
    color: #23C9DE;
    font-size: 15pt;
    font-family: montserratsemibold;
    border-radius: 50px;
    padding: 12px;
    background-color: #2A3744;
    cursor: pointer;
}


.tag-6 {
    color: #FF9E9E;
    font-size: 15pt;
    font-family: montserratsemibold;
    border-radius: 50px;
    padding: 12px;
    background-color: #2A3744;
    cursor: pointer;
}

.tag-7 {
    color: #707F8D;
    font-size: 15pt;
    font-family: montserratsemibold;
    border-radius: 50px;
    padding: 12px;
    background-color: #2A3744;
    cursor: pointer;
}

.tag-1,
.tag-2,
.tag-3,
.tag-4,
.tag-5,
.tag-6,
.tag-7 {
    transition: all 0, 3px ease;
}

.tag-1:hover,
.tag-2:hover,
.tag-3:hover,
.tag-4:hover,
.tag-5:hover,
.tag-6:hover,
.tag-7:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;

}

.foto-1 {
    width: 1050px;
    height: 450px;
    margin-top: 50px;
}

.text11 {
    position: absolute;
    font-family: montserratbold;
    font-size: 18pt;
    color: #0A1117;
    margin-top: 1060px;
    border-radius: 50px;
    padding: 10px;
    background-color: #FFB4D3;
    box-shadow: 0 0 10px #CEAAFF;
}

.title-2 {
    color: #E5E5E5;
    font-family: lato;
    font-size: 40pt;
    margin-top: 180px;
}

.sterren2 {
    position: absolute;
    margin-top: 1225px;
    margin-left: 870px;
}

.text12,
.text13,
.text14,
.text16,
.text17,
.text18 {
    color: #37424D;
    font-family: lato;
    font-size: 40pt;
    transition: all 0, 3px ease;
    cursor: pointer;
}

.text15 {
    color: #FFB4D3;
    font-size: 40pt;
    font-family: lato;
    transition: all 0, 3px ease;
    cursor: pointer;
    text-shadow: 0 0 10px #FFB4D3;
}

.container6 {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px
}

.text12:hover,
.text13:hover,
.text14:hover,
.text16:hover,
.text17:hover,
.text18:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    color: #E5E5E5;
}

.text15:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.title-3 {
    color: #E5E5E5;
    font-family: lato;
    font-size: 40pt;
    margin-top: 199px;
    text-shadow: 0 0 10px #E5E5E5;
}

.sterren3 {
    position: absolute;
    margin-top: 2070px;
    margin-right: 800px;
}

.sterren4 {
    position: absolute;
    margin-top: 2095px;
    margin-left: 475px;
}

.container7 {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 50px;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6 {
    border: 2px solid #2A3744;
    border-radius: 50px;
    padding: 0, 1px;
    background-color: #121E28;
}

.container8 {
    display: flex;
    flex-direction: row;
    gap: 95px;
    position: absolute;
    margin-right: 15px;
    margin-top: 2400px;
}



.text19,
.text20,
.text21,
.text22,
.text23,
.text24 {
    color: #E5E5E5;
    font-size: 19px;
    font-family: montserratsemibold;
}

.text23 {
    margin-right: 30px;
}

.text19 {
    position: relative;
    margin-left: 55px;
}

.text24 {
    margin-right: 40px;
}

.text22 {
    margin-right: 25px;
}
.slotcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 10pt;
    font-family: montserratsemibold;
    margin-top: 20px;
    gap:30px
    
}
.footer{
    margin-top: 100px;
    position: sticky;
    background-color: #121E28;
    height: 50px;
    width: 100%;
    padding:20px
    
    
    
}
.text58{
    color: #FFFFFF;
}
.text57{
    color: #FFFFFF;

}
.text59{
    color: yellow;
}

.last{
    position: absolute;
    margin-left:800px ;
    margin-top: -20px;
}